
<% if(theme.show_dates && is_post()) { %>
    <h1 class="title"><%- item.title || theme.default_post_title || "Untitled" %></h1>
    <div class="meta">
        <%= item.date.format(config.date_format) %>
    </div>
<% } else { %>
    <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
<% } %>

<!-- Content -->
<%- item.content %>
