<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <section>
            <h2>Contact</h2>
            <%- partial('_partial/contact-details', {item: page}) %>
        </section>
        <section>
            <h2>Follow</h2>
            <%- partial('_partial/follow-details', {item: page}) %>
        </section>
        <ul class="copyright">
            <li>&copy; Maarten van den Ende. All rights reserved</li>
        </ul>
    </div>
</footer>